/* Estilos de Tailwind CSS */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87); /* Cambiado a negro */
  background-color: rgb(186, 218, 227);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.input {
  padding: 12px;
  border: 2px solid;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #ffffff;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.btn {
  background-color: #ff4500;
  color: white;
  padding: 0px 20px;
  font-weight: bold;
  border-color: transparent;
  transition: background-color 0.3s, transform 0.3s !important;
  animation: bounce 2s infinite !important;
}

.btn:hover, .btn-ghost.btn-active{
  border-color: transparent;
  background-color: #b83303;
}